modules:
  - module: synapse_http_antispam.HTTPAntispam
    config:
      base_url: http://draupnir:8082/api/1/spam_check
      authorization: REDACTED
      do_ping: true
      enabled_callbacks:
        - user_may_invite
        - user_may_join_room
      fail_open:
        user_may_invite: true
        user_may_join_room: true